h1{
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f9192;
    padding: 10px;
    border-radius: 10px;
    width: 85%; /* Ancho del 85% */
    height: 100vh; /* Altura que ocupa todo el viewport */
    margin: 0 auto; /* Centrar horizontalmente el navbar */
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column; /* Cambiar a diseño en columna */
    gap: 20px; /* Espaciado entre opciones */
    padding: 0;
    margin: 0;
    align-items: center; /* Centrar las opciones en el navbar */
}

.nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: space-between;
    align-items: row;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #c4c5c5;
    border-color: #b4b4b4;
    box-shadow: #c4c5c5 0px 4px 8px;
}

li{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
}

footer {
    border-radius: 10px;
    width: 85%; 
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #5c5c5c;
    color: white;
    margin-top: 20px; 
}

a#l {
    width: 50%;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}