#nav {
    color: #ffffff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    position: relative; 
}

#nav h1 {
    margin: 0; 
    font-size: 24px; 
    color: #393a3b; 
    text-align: center; 
    flex-grow: 1; 
}
button {
    background-color: #393a3b; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button a {
    text-decoration: none; 
    color: inherit; 
    font-weight: bold; 
}

button:hover {
    background-color: #575a5c; 
}


button:first-of-type {
    position: absolute; 
    top: 10px; 
    left: 10px; 
}


button:last-of-type {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

button:last-of-type a {
    font-size: 20px; 
}
#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 15px; 
    padding: 10px;
}

.product_tag {
    text-align: center;
    background-color: #f8f9fa; 
    border-radius: 10px; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.product_tag img {
    width: 100%; 
    max-width: 150px; 
    height: auto; 
    margin: 0 auto;
    border-radius: 10px; 
}

.product_tag p {
    margin-top: 10px;
    font-size: 14px; 
    color: #333;
}



